<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StorageAppMvc</title>
    @* <link rel="stylesheet" href="~/StorageAppMvc.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootswatchtheme.css" />
    <link href="~/lib/styles.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Item" asp-action="Index">New Components</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Navigation" asp-action="Index">Storage</a>
                        </li>
                        @* <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asp-Controllers</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item nav-link" asp-area="" asp-controller="Items" asp-action="Index">ASP-Items</a>
                                <a class="dropdown-item nav-link" asp-area="" asp-controller="Containers" asp-action="Index">ASP-Containers</a>
                            </div>
                        </li> *@

                    </ul>

                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <li class="nav-room-item nav-item dropdown d-flex">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Current Room</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item nav-link" asp-area="" asp-controller="Item" asp-action="Index" asp-route-id="1">Slaapkamer</a>
                            <a class="dropdown-item nav-link" asp-area="" asp-controller="Item" asp-action="Index" asp-route-id="2">Garage</a>
                        </div>
                    </li>
                 
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item username"><a class="nav-link">@User.Identity.Name&nbsp&nbsp&nbsp<i class="fa-regular fa-circle-user fa-lg usericon" style="color: #ffffff;"></i></a></li>
                    }
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
