@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(Context.Request.Query["errorMessage"]))
{
    <div class="alert alert-danger error-message-nav">
        @Context.Request.Query["errorMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4 Home-Welcome">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="Home-p">Create your first room in 'Rooms' to start creating containers in 'New Components'.</p>
        <p class="Home-p">Please note: you need to create containers in 'New Components' before you can use the storage page.</p>
    }
    else
    {
        <p class="Home-p">Please register your account or login if you are already a member</p>
    }
</div>
